.work-timeline-container {
  /* margin: 4.8rem; */
  /* padding: 4.8rem 2.4rem; */
  /* background-color: gray; */
}
.timeline_container {
  display: flex;
  flex-direction: column;
  margin: 0rem 10rem;
  /* background-color: #031759f3; */
}

.timeline_border {
  position: absolute;
  border-left: 3px dashed rgb(10, 10, 10);
  width: 0px;
  height: 55rem;
  left: -15px;
  display: none;
  z-index: -1;
}

.timeline_container_card {
  /* card */
  width: 45%;
  /* padding: 3rem 1rem 2rem 3rem; */
  padding: 2.4rem 4.8rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
  /* margin-right: 0; */
  z-index: 1;
  margin-bottom: 9.6rem;
  border-left: 5px solid #034281;
}
.timeline_container_card:nth-child(even) {
  margin-left: auto;
}
.timeline_container_card:nth-child(even)::before {
  content: '';
  position: absolute;
  left: -14%;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border: 2px solid #191919;
  border-radius: 50%;
}
.timeline_container_card:nth-child(even)::after {
  content: '';
  position: absolute;
  left: -11%;
  top: 50%;
  transform: translateY(-50%);
  width: 10.2%;
  height: 4px;
  background-color: rgb(6, 7, 7);
  z-index: -1;
}

.timeline_container_card:nth-child(odd)::before {
  content: '';
  position: absolute;
  right: -13.7%;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border: 2px solid #191919;
  border-radius: 50%;
}
.timeline_container_card:nth-child(odd)::after {
  content: '';
  position: absolute;
  right: -9.6%;
  top: 50%;
  transform: translateY(-50%);
  width: 9.4%;
  height: 4px;
  background-color: rgb(22, 22, 22);
  z-index: -1;
}

.timeline_container_card::before {
  background-color: #031759f3;
}

.present_box {
  background-color: #0ca678;
}

/* .timeline_container_card:nth-child(even) .timeline_container_card_body::before {
  content: '';
  position: absolute;
  left: -12%;
  top: -70%;
  width: 0px;
  height: 55rem;
  border: 1px solid rgb(25, 24, 24);
  z-index: -1;
} */
.timeline_container_card_title {
  /* card-title */
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #555;
  font-weight: 500;
}
.timeline_companyname {
  font-size: 1.6rem;
  margin: 1rem 0px;
  color: #131313;
  width: max-content;
}
.timeline_role {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2.4rem auto;
  color: #131313;
}
.timeline_container_card_details {
  font-size: 1.8rem;
  margin: 1rem 0px;
  line-height: 2.2rem;
}
.timeline_container_card_details ul li {
  font-size: 1.8rem;
  margin: 2rem;
}

@media (max-width: 75em) {
  .timeline_container_heading {
    font-size: 2rem;
  }
  .timeline_container_card {
    width: 100%;
  }
  .timeline_container_card:nth-child(even)
    .timeline_container_card_body::before {
    display: none;
  }
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    left: -6.3%;
    width: 1.3rem;
    height: 1.3rem;
  }
  /* .timeline_border {
    display: block;
    left: -5.5%;
    height: 10.4rem;
  } */
  .timeline_container_card:nth-child(even)::after,
  .timeline_container_card:nth-child(odd)::after {
    left: -5%;
    width: 5%;
    background-color: rgb(5, 6, 6);
  }
}
@media (max-width: 62em) {
  .work-timeline-container {
    margin: 0px 0px 50px;
  }
}
@media (max-width: 769px) {
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    left: -6.7%;
  }
  .timeline_border {
    height: 115rem;
  }
  .timeline_container_card {
    width: 100%;
    padding: 1.5rem 1rem 1rem 1.2rem;
  }
  .timeline_container {
    margin: 1rem 1rem 1rem 5rem;
  }
  .timeline_container_card_title {
    font-size: 2rem;
  }
  .timeline_companyname {
    font-size: 1.5rem;
  }
  .timeline_container_card_details {
    font-size: 1.4rem;
  }
}
@media (max-width: 555px) {
  .timeline_container_card_details {
    line-height: 2.5rem;
  }
  .timeline_container {
    margin: 10px 10px 10px 25px;
  }
  .timeline_border {
    left: -5%;
  }
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    width: 10px;
    height: 10px;
  }
}
