.LinkTitle {
  text-align: center;
  font-size: 35px;
  margin: 30px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.card_container {
  margin: 10px 0px 50px;
}
.about_container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about_container .about_container_box {
  position: relative;
  width: 320px;
  height: 325px;
  width: 345px;
  height: 370px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px 40px 90px;
  margin: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}
.about_container .about_container_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #032782;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  border-radius: 10px;
}
.about_container .about_container_box:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.about_container .about_container_box h2 {
  position: absolute;
  left: 40px;
  top: 63px;
  font-size: 30px;
  font-weight: 800;
  z-index: 1;
  opacity: 0.2;
  transition: 0.5s;
  color: #fff;
}
.about_container .about_container_box:hover h2 {
  opacity: 1;
  color: rgb(255, 255, 255);
  transform: translateY(-40px);
}
.about_container .about_container_box h3 {
  position: relative;
  font-size: 25px;
  z-index: 2;
  color: #333;
  transition: 0.5s;
  margin-bottom: 5px;
  transition: 0.5s;
}
.about_container .about_container_box p {
  position: relative;
  color: #555;
  transition: 0.5s;
  font-size: 20px;
  line-height: 30px;
  transition: 0.5s;
}

.about_container .about_container_box:hover h3,
.about_container .about_container_box:hover p,
.about_container .about_container_box:hover .about_icon {
  color: #fff;
}
.about_icon {
  width: 4rem !important;
  height: 4rem !important;
  color: #032782;
}
@media (max-width: 991px) {
  .LinkTitle {
    font-size: 25px;
    padding-top: 55px;
  }
}
@media (max-width: 769px) {
  .LinkTitle {
    font-size: 20px;
  }
  .about_container .about_container_box h2 {
    font-size: 17px;
  }
  .about_container .about_container_box h3 {
    position: relative;
    font-size: 17px;
  }
  .about_container .about_container_box p {
    font-size: 16px;
  }
  .about_container .about_container_box {
    width: 320px;
    height: 325px;
  }
}
@media (max-width: 600px) {
  .LinkTitle {
    font-size: 16px;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 10px !important;
  }
  .card_container {
    margin: 10px 0px 0px;
  }
  .skills-section {
    margin-bottom: 2.8rem;
    margin: 7px;
  }
}
