/* 
color: #032782;
 background-color: #f1f3f5;
*/

.container {
  max-width: 170rem;
  margin: 0 auto;
  margin-bottom: 12.8rem;
}

.section-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 9.6rem;
  color: #222;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
