/*Reusuable Components */

@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  max-width: 160rem;
  padding: 0 3.2rem;
  margin: 9.6rem auto;
  border: solid 1px black;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 600;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4rem;
  line-height: 1.2;
}
.header-primary_text {
  padding-left: 10px;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.section-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 9.6rem;
  color: #222;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Navigation */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #0c32a6;
  font-weight: 700;
  font-size: 2rem;
  padding: 20px 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #100444;
  background-color: #d2d2d299;
}

/* Intro Section */

.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* margin-bottom: 9.6rem; */
  margin: 130px 10px 100px;
}

.profile-img-box {
  padding: 40px;
}

.display-img {
  width: 100%;
  height: 50rem;
  border-radius: 12px;
  object-fit: cover;
}

.intro-text-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.intro-secondary {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #9b9393;
}

.about-section {
  padding: 3.2rem;
}

.details-box {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 4rem !important;
  height: 4rem !important;
  color: #1864ab;
  color: #339af0;
}

.about-me-text {
  font-size: 2.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #222;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.7rem 3.4rem;
  border-radius: 9px;
  color: #ffffff;
  background-color: #032782;
  border: 2px solid #032782;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  transition: 0.5s;
  background-color: #c0c2c3;
  color: #01164d;
  border: 2px solid #c0c2c3;
}

.main-nav-link.contact:link,
.main-nav-link.contact:visited {
  padding: 1.7rem 3.4rem;
  border-radius: 9px;
  color: #011a58;
  border: 2px solid #032782;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.main-nav-link.contact:hover,
.main-nav-link.contact:active {
  background-color: #032782;
  color: #fff;
}

/* Skills Section */

.skills-section {
  max-width: 110rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
  margin-bottom: 12.8rem;
}
.skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4rem;
  /* padding: 0 4.8rem; */
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: -1px -2px 15px 2px rgb(3 62 153 / 20%);
}
.skill-icon {
  height: 5rem;
  width: 5rem;
}

.skill-text {
  font-size: 2rem;
  font-weight: 500;
}

/* Projects */

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  padding: 0 4.8rem;
  margin-bottom: 12.8rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: #f1f3f5;
  /* background-color: #e7f5ff; */
  border-radius: 9px;
  box-shadow: 5px 5px 15px rgba(22, 23, 23, 0.15);
}

.project-img-box {
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
}
.project-img {
  width: 100%;
  border-radius: 9px;
}

.project-details-box {
  padding: 4.8rem;
  flex-direction: column;
  transition: all 0.3s;
}

.project-details-box:hover {
  transform: scale(1.05);
}
.project-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #f1f3f5;
  color: #555;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}

.project-links {
  display: flex;
  gap: 3.2rem;
}

.project-link-icon {
  width: 4rem !important;
  height: 4rem !important;
  transition: all 0.3s;
}
.project-link-icon:hover {
  transform: scale(1.4);
}

.frontend-git-icon {
  color: #1c7ed6;
}
.frontend-git-icon:hover {
  color: #74c0fc;
}
.backend-git-icon {
  color: #087f5b;
}
.backend-git-icon:hover {
  color: #20c997;
}

.source-code-icon {
  color: #f76707;
}

.source-code-icon:hover {
  color: #ffa94d;
}

.url-link:link,
.url-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  padding: 1rem 1.2rem;
  width: 22rem;
  border-radius: 9px;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #1c7ed6;
}

.url-link:hover {
  background-color: #1c7ed6;
  color: #fefefe;
}

/* Work and Education */

.work--box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  padding: 0 4.8rem 4.8rem 4.8rem;
}

.work-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
  border-radius: 9px;
  background-color: #f1f3f5;
  background-color: #d0ebff;
  /* background-image: linear-gradient(to top left, #d0ebff, #4dabf7); */
  color: #212529;
  padding: 4.8rem;
  box-shadow: 0px 0px 15px rgba(117, 115, 115, 0.1);
  transition: all 0.5s;
}

.work-exp:hover {
  transform: scale(1.05);
}

.time-line {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-right: solid 1px #333;
  align-items: center;
}
.time {
  font-size: 3rem;
  color: #212529;
  font-weight: 500;
}
.company {
  font-size: 2.4rem;
  font-weight: 400;
  color: #212529;
}

.roles {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.role {
  font-size: 3.6rem;
  color: #555;
  font-weight: 500;
}
.task {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-weight: 400;
}

.work-1 {
  background-image: linear-gradient(to top left, #d0ebff, #0ca678);
  /* background-color: #4dabf7; */
}
/* Contact */

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  background-color: #dee2e6;
  color: #222;
  width: 100%;
  bottom: 0;
  padding: 1.6rem;
}

.footer-contact-box {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
}
.footer-contacts {
  display: flex;
  gap: 4.8rem;
}

.contact-text {
  font-size: 2rem;
  font-weight: 500;
}

.email,
.phone {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.phone-text:link {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}
.phone-text:link:hover {
  color: #339af0;
}

.footer-icon {
  width: 4rem !important;
  height: 4rem !important;
}

.profiles {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.linkedin {
  color: #1971c2;
}
.github {
  color: #343a40;
}

.github,
.linkedin {
  width: 5rem !important;
  height: 5rem !important;
}

.github:hover {
  color: #868e96;
}
.linkedin:hover {
  color: #74c0fc;
}
