/* Genral Reusuable Components */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 9.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.section-heading {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4.8rem;
}

.badge {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  border-radius: 9px;
  background-color: #1c7ed6;
  color: #fefefe;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/* Navigation */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;

  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1864ab;
  font-weight: 500;
  font-size: 2.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #495057;
}

/* Hero Section */

.about-section {
  padding: 9.6rem 0 9.6rem 0;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.details-box {
  display: flex;
  gap: 2rem;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}
.contact-text {
  font-size: 1.8rem;
}
.email,
.phone {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon {
  width: 5rem !important;
  height: 5rem !important;
}
.linkedin {
  color: #4dabf7;
}
.github {
  color: #dee2e6;
}

.hero-description {
  font-size: 3.2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #333;
  background-color: #ff6b6b;
  display: flex;
  align-items: center;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1c7ed6;
  color: #fefefe;
}

/* Skills Section */
.skills-section {
  padding: 3.2rem 4.8rem 3.2rem 4.8rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3.6rem;
}

/* Projects */

.projects-section {
  padding: 9.6rem 0;
}

.projects-box {
  margin: 0 4.8rem 0 4.8rem;
  padding: 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4.8rem 4.8rem rgba(220, 223, 223, 0.041);
}

.project-img {
  width: 100%;
}

.project-details-box {
  padding: 2.4rem;
}
.project-title {
  font-size: 4.8rem;
  font-weight: 600;
  color: #aaa;
  margin-bottom: 4.8rem;
}

.project-urls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.url-link:link,
.url-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  padding: 1rem 1.2rem;
  width: 22rem;
  border-radius: 9px;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #1c7ed6;
}

.url-link:hover {
  background-color: #1c7ed6;
  color: #fefefe;
}

/* Work and Education */

.work-section {
  padding: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.work--box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.work-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  background-color: #fff3bf;
  border-radius: 9px;
  color: #333;
  padding: 3.2rem;
}
.role {
  font-size: 3rem;
  font-weight: 500;
}
.company {
  font-size: 2.4rem;
  font-weight: 500;
}
.time {
  font-size: 2rem;
  font-weight: 600;
  color: #aaa;
}

.work-description {
  font-size: 1.8rem;
}

.task {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

/* Contact */

.contact-section {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #aaa;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  width: 100%;
  bottom: 0;
  padding-top: 0.8rem;
  background-color: #333;
  color: #fff;
  padding: 1.2rem;
}
.footer-text {
  font-size: 1.6rem;
}
