/* .timeline_container {
  position: relative;
  margin: 50px 0;
} */
.full_timeline_container {
  margin: 0px 0px 150px;
  padding: 50px 0px;
}
.timeline_container {
  /* timeline */
  display: block;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
}
.timeline_container_heading {
  text-align: center;
  font-size: 60px;
  color: rgb(7, 6, 6);
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.timline_border {
  position: absolute;
  border-left: 3px dashed rgb(10, 10, 10);
  width: 0px;
  height: 550px;
  left: -15px;
  display: none;
  z-index: -1;
}
.timeline_container_heading {
  /* heading */
  margin-bottom: 150px;
}
.timeline_container_card {
  /* card */
  width: 45%;
  padding: 30px 10px 20px 30px;
  border-radius: 10px;
  display: block;
  margin: -30px 0px;
  position: relative;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  margin-right: 0;
  z-index: 1;
  margin-bottom: 5px;
  border-left: 5px solid #034281;
}
.timeline_container_card:nth-child(even) {
  margin-left: auto;
}
.timeline_container_card:nth-child(even)::before {
  content: "";
  position: absolute;
  left: -14%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #191919;
  border-radius: 50%;
}
.timeline_container_card:nth-child(even)::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 4px;
  background-color: rgb(6, 7, 7);
  z-index: -1;
}

.timeline_container_card:nth-child(odd)::before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #191919;
  border-radius: 50%;
}
.timeline_container_card:nth-child(odd)::after {
  content: "";
  position: absolute;
  right: -9%;
  top: 50%;
  transform: translateY(-50%);
  width: 9%;
  height: 4px;
  background-color: rgb(22, 22, 22);
  z-index: -1;
}

.timeline_container_card::before {
  background-color: #031759f3;
}

.timeline_container_card:nth-child(even) .timeline_container_card_body::before {
  content: "";
  position: absolute;
  left: -12%;
  top: -70%;
  width: 0px;
  height: 538px;
  border: 1px dashed rgb(25, 24, 24);
  z-index: -1;
}
.timeline_container_card_title {
  /* card-title */
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.timeline_companyname {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
  color: #131313;
  width: max-content;
}
.timeline_role {
  font-size: 17px;
  font-weight: 400;
  margin: 15px 0px;
}
.timeline_container_card_details {
  font-size: 18px;
  margin: 10px 0px;
}
.timeline_container_card_details ul li {
  font-size: 18px;
  margin: 20px;
}

@media (max-width: 1240px) {
  .timeline_container_heading {
    font-size: 20px;
  }
  .timeline_container_card {
    width: 100%;
    margin: 20px 0px;
  }
  .timeline_container_card:nth-child(even)
    .timeline_container_card_body::before {
    display: none;
  }
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    left: -6.3%;
    width: 13px;
    height: 13px;
  }
  .timline_border {
    display: block;
    left: -5.5%;
    height: 1040px;
  }
  .timeline_container_card:nth-child(even)::after,
  .timeline_container_card:nth-child(odd)::after {
    left: -5%;
    width: 5%;
    background-color: rgb(5, 6, 6);
  }
}
@media (max-width: 991px) {
  .full_timeline_container {
    margin: 0px 0px 50px;
  }
}
@media (max-width: 769px) {
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    left: -6.7%;
  }
  .timline_border {
    height: 950px;
  }
  .timeline_container_card {
    width: 100%;
    padding: 15px 10px 10px 12px;
  }
  .timeline_container {
    margin: 10px 10px 10px 50px;
  }
  .timeline_container_card_title {
    font-size: 20px;
  }
  .timeline_companyname {
    font-size: 15px;
  }
  .timeline_container_card_details {
    font-size: 14px;
  }
}
@media (max-width: 555px) {
  .timeline_container_card_details ul li {
    font-size: 13px;
  }
  .timeline_container {
    margin: 10px 10px 10px 25px;
  }
  .timline_border {
    left: -5%;
  }
  .timeline_container_card:nth-child(even)::before,
  .timeline_container_card:nth-child(odd)::before {
    width: 10px;
    height: 10px;
  }
}
